body {
  padding: 0;
  margin: 0;
}

.div1 {
  width: 100%;
  background-image: url("https://img.freepik.com/premium-photo/black-workspace-top-view-wireless-keyboard-copy-space-black-leather-background-flat-lay_67155-19492.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

.div1 .div2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 500px;
  padding: 245px;
}
.div1 .div2 h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-size: 75px;
}

.seperator {
  width: 0;
  height: 0;
  border-left: 99vw solid transparent;
  border-bottom: 14.9vw solid white;
  margin-top: -14.8vw;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 250px;
  padding-top: 30px;
}
nav h2 {
  color: white;
  cursor: pointer;
  font-size: 33px;
}
nav ul {
  gap: 1px;
  list-style: none;
  color: white;
  cursor: pointer;
  display: flex;
}
nav ul .size {
  color: chocolate;
}
nav ul li {
  font-size: 17px;
  margin-right: 40px;
  text-align: center;
  display: inline-block;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 10px 10px;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  text-align: center;
  font-size: 17px;
  color: rgb(4, 4, 4);
}

ul li ul.submenu {
  flex-direction: column;
  width: 130px;
  background-color: white;
  position: absolute;
  display: none;
  z-index: 999;
}
ul li ul.submenu li {
  display: block;
}

ul li:hover ul.submenu {
  display: block;
}

.submit {
  font-size: 17px;
  border: 2px solid white;
  width: 190px;
  color: white;
}
.submit:hover {
  background-color: white;
  color: rgb(4, 4, 4);
  cursor: pointer;
}

nav i {
  display: none;
}

nav li i {
  display: block;
}

.div3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 170px;
}
.div3 div {
  width: 500px;
}

.a1 {
  padding: 160px 25px;
  background-image: url("https://preview.colorlib.com/theme/gourmet/img/hero_1.jpg.webp");
  background-size: cover;
  background-position: center;
}

.a2 .mini {
  width: 18%;
  background-color: chocolate;
  padding: 1px;
}
.a2 p {
  color: rgb(196, 193, 193);
  font-size: 17px;
}
.a2 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 49px;
}

.div4 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(244, 241, 241);
}
.div4 .div5 {
  margin: 30px;
  padding: 150px;
  flex-direction: column;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.div4 .div5 .mini1 {
  width: 18%;
  background-color: chocolate;
  padding: 1px;
}
.div4 .div5 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 49px;
}
.div4 .div5 p {
  font-size: 25px;
  color: rgb(196, 193, 193);
}

.div7 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.div7 div {
  width: 300px;
  padding: 270px 30px;
}

.div8 {
  background-image: url("https://cdn.shopify.com/s/files/1/0355/1805/files/props-backgrounds-food-photography-09.jpg?v=1589312502");
  background-size: cover;
  background-position: center;
}

.div9 {
  background-image: url("https://foodphotographyacademy.co/wp-content/uploads/2018/07/Vinyl-Food-Photography-Backgrounds-3-660x990.jpg");
  background-size: cover;
  background-position: center;
}

.div10 {
  background-image: url("https://preview.colorlib.com/theme/gourmet/img/dishes_3.jpg");
  background-size: cover;
  background-position: center;
}

.div11 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div11 .div12 {
  margin: 30px;
  padding-top: 150px;
  flex-direction: column;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.div11 .div12 .mini2 {
  width: 18%;
  background-color: chocolate;
  padding: 1px;
}
.div11 .div12 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 49px;
}

.div13 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}
.div13 div {
  width: 300px;
  padding: 300px 60px;
}

.div14 {
  filter: contrast(50%);
  background-image: url("https://cdn.shopify.com/s/files/1/0355/1805/files/props-backgrounds-food-photography-09.jpg?v=1589312502");
  background-size: cover;
  background-position: center;
}
.div14 .enter1 {
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.div14 .enter1 h1 {
  color: rgb(4, 4, 4);
  font-size: 40px;
}
.div14 .enter1 p {
  font-size: 36px;
  color: rgb(4, 4, 4);
}

.div15 {
  filter: contrast(50%);
  background-image: url("https://foodphotographyacademy.co/wp-content/uploads/2018/07/Vinyl-Food-Photography-Backgrounds-3-660x990.jpg");
  background-size: cover;
  background-position: center;
}
.div15 .enter2 {
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.div15 .enter2 h1 {
  color: rgb(4, 4, 4);
  font-size: 40px;
}
.div15 .enter2 p {
  font-size: 36px;
  color: rgb(4, 4, 4);
}

.div16 {
  filter: contrast(50%);
  background-image: url("https://preview.colorlib.com/theme/gourmet/img/dishes_3.jpg");
  background-size: cover;
  background-position: center;
}
.div16 .enter3 {
  flex-direction: column;
  padding: 30px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div16 .enter3 h1 {
  color: rgb(4, 4, 4);
  font-size: 40px;
}
.div16 .enter3 p {
  font-size: 36px;
  color: rgb(4, 4, 4);
}

.div17 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div17 .div18 {
  margin: 30px;
  padding-top: 150px;
  flex-direction: column;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.div17 .div18 .mini3 {
  width: 18%;
  background-color: chocolate;
  padding: 1px;
}
.div17 .div18 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 49px;
}

.div20 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(244, 241, 241);
}
.div20 .div21 {
  margin: 30px;
  padding: 150px;
  flex-direction: column;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div20 .div21 .mini4 {
  width: 18%;
  background-color: chocolate;
  padding: 1px;
}
.div20 .div21 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 49px;
}
.div20 .div21 p {
  font-size: 25px;
  color: rgb(196, 193, 193);
}

.div22 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div22 .div23 {
  margin: 30px;
  padding-top: 150px;
  flex-direction: column;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.div22 .div23 .mini5 {
  width: 18%;
  background-color: chocolate;
  padding: 1px;
}
.div22 .div23 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 49px;
}

.div24 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.div24 div {
  width: 500px;
}

.div25 {
  width: 100%;
  padding: 160px 25px;
}
.div25 .half {
  padding: 150px 4px;
  background-image: url("https://preview.colorlib.com/theme/gourmet/img/hero_1.jpg.webp");
  background-size: cover;
  background-position: center;
}
.div25 .past h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 33px;
}
.div25 .past p {
  font-size: 17px;
  color: rgb(196, 193, 193);
}
.div25 .past h2 {
  font-size: 17px;
  color: gray;
}
.div25 .past .submit1 {
  font-size: 17px;
  color: white;
  background-color: chocolate;
  padding: 1px;
  width: 150px;
  text-align: center;
}

.div26 {
  padding: 160px 25px;
}
.div26 .half1 {
  padding: 150px 4px;
  background-image: url("https://preview.colorlib.com/theme/gourmet/img/hero_1.jpg.webp");
  background-size: cover;
  background-position: center;
}
.div26 .past1 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 33px;
}
.div26 .past1 p {
  font-size: 17px;
  color: rgb(196, 193, 193);
}
.div26 .past1 h2 {
  font-size: 17px;
  color: gray;
}
.div26 .past1 .submit1 {
  width: 150px;
  font-size: 17px;
  color: white;
  background-color: chocolate;
  padding: 1px;
  text-align: center;
}

.div27 {
  background-color: rgb(244, 241, 241);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.div27 div {
  width: 300px;
  padding: 300px 60px;
}

.start h1 {
  font-size: 33px;
}
.start p {
  color: rgb(196, 193, 193);
}

.start1 h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
}
.start1 h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.start2 h1 {
  font-size: 33px;
}
.start2 p {
  color: chocolate;
  font-size: 17px;
}

.end {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(196, 193, 193);
}
.end div {
  width: 800px;
  padding: 30px 10px;
  text-align: center;
}
.end div p {
  color: rgb(244, 241, 241);
  font-size: 17px;
}

.value {
  width: 1170px;
  padding: 10px 160px;
  flex-wrap: wrap;
  display: flex;
}
.value .value1 {
  width: 25%;
  background-color: rgb(196, 193, 193);
}
.value h3 {
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 30px 40px 0 30px;
}
.value p {
  font-size: 17px;
  margin: 20px 0 0 30px;
  color: gray;
}
.value h4 {
  font-size: 17px;
  margin: 20px 0 0 30px;
  color: gray;
}
.value img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

@media screen and (max-width: 600px) {
  nav {
    width: 100%;
  }
  nav ul {
    display: none;
  }
  nav i {
    display: flex;
    color: white;
    font-size: 33px;
  }
  .div3 {
    flex-direction: column;
  }
  .div3 .a1, .a2 {
    width: 100%;
  }
  .div7 {
    flex-direction: column;
  }
  .div7 .div8, .div9, .div10 {
    width: 100%;
  }
  .div13 {
    flex-direction: column;
  }
  .div24 {
    flex-direction: column;
  }
  .div25, .div26 {
    width: 100%;
  }
  .div27 {
    flex-direction: column;
  }
  .start, .start1, .start2 {
    width: 100%;
  }
  .value {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .value1 {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */